@{
  Layout = "_Layout";
}
<body class="index-background">
<div class="row under-header">
    <div class="col-lg-4">
        <div class="well index">
            <h3>Create a Resume</h3>
            <p>Let us clear the path to your success!</p>
            <a href ='/person/new'><button type="button" class="btn-lg btn-warning">Start</button></a>
        </div>
    </div>
    <div class="col-lg-8">
    </div>
</div>
</body>
