@{
  Layout = "_Layout";
}
<h1>Jobs List</h1>
<ul>
  @foreach (var job in Model)
  {
    <li><a href='/person/jobs/@job.GetId()'>@job.GetCompanyName()</a></li>
  }
</ul>
<a href ="/person/jobs/new">Add new job </a>
<a href="/person/jobs/resume">Create Your Resume</a>
