@{
  Layout = "_Layout";
}
<h3>Add Information about yourself:</h3>
<div class="container">
  <form action="/person" method="post">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input class="form-control" id="firstName" type="text" name="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input class="form-control" id="lastName" type="text" name="lastName">
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input class="form-control" id="phoneNumber" type="number" name="phoneNumber">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" id="email" type="email" name="email">
    </div>
    <div class="form-group">
    <button type="submit" class="btn-lg btn-warning">Add A Job</button>
    </div>
  </form>
</div>
